# NAVIGATION
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# LIST BINDINGS
alias ll="ls -alt"
alias la="ls -a"

# COMMON DIRECTORIES
alias home="cd ~"
alias github="cd ~/dev/Github"
alias gitlab="cd ~/dev/gitlab"
alias sites="cd ~/Sites"

# GIT
alias g="git"
alias gc="git clone"
alias gs="git status"
alias gd="git diff"
alias gb="git branch"
alias gm="git checkout development"
alias gM="git checkout master"
alias fame="python3 -m gitfame" 
alias gp="git remote prune origin" 
alias glog="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# EASIER DOTFILE EDITING
alias aliases="vim ~/.aliases && . ~/.aliases"
alias bashprofile="vim ~/.bash_profile && . ~/.bash_profile"

# JSON parsing
alias jpterm="python3 -m jpterm"

# SWEETDEV
alias ss="sweetdev setup"
alias ss prune="sweetdev setup --prune"

# LARAVEL DEV
alias Lgrep="grep -r --exclude-dir=\"vendor\" --exclude-dir=\"node_modules\" --exclude-dir=\"storage\" --exclude-dir=\"test\" --exclude-dir=\"public\" --exclude-dir=\".git\""

# DNS FLUSH
alias dnsflush="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Kill SweetUpdate
alias swnoupdate="sudo killall SweetUpdate"

# MONOLITH DEV
alias Mgrep="grep -r --exclude-dir=\"vendor\" --exclude-dir=\"node_modules\" --exclude-dir=\"storage\" --exclude-dir=\"test\" --exclude-dir=\"dist\" --exclude-dir=\".git\""
